# Configurações do Servidor
PORT=3000
NODE_ENV=development
JWT_SECRET=sua-chave-secreta-muito-segura

# Configurações do Banco de Dados MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=restaurant_db
DB_PORT=3306

# URL da API para o Frontend
VITE_API_URL=http://localhost:3000/api
